<div class="container">
  <div>
    <div class="d-flex justify-content-between">
      <div>
        <%= form_tag topics_path, method: :get, class: "search-form d-flex ml-3 mt-3" do %>
          <%= text_field_tag :query,
          params[:query],
          class: "form-control mr-2",
          placeholder: "Search a topic or category"
          %>
          <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
      </div>
      <div class="mr-3 mt-3">
        <%= link_to "Dashboard", user_path(current_user), class:"btn btn-primary" %>
      </div>
    </div>
      <h1 class="text-center mb-3">Debate Topics</h1>
  </div>

  <div class="topic-card-container">
    <% @topics.each do |topic| %>
       finishing-topics-index
        <%= render 'topic_card', topic: topic %>
    <% end %>
  </div>
</div>



