<div class="quarter-circle-top-left">
  <%= render "shared/topic-icon" %>
  <%= link_to "", topics_path, class:"div-link" %>
</div>
<div class="container-topic-show text-center">
  <div>
    <h1 id="topic-show-title" class="mb-5"><%= @topic.proposition %></h1>
      <div class="rating-section d-flex justify-content-center align-items-center mb-5">
        <%= render "shared/rating" %>
      </div>
      <div id="topic-show-desc" class="w-50 mb-5">
        <h3><%= @topic.description %></h3>
      </div>
  </div>
  <div class="form">
  <%= render "arguments/argument_forms" %>
  <%= link_to "Back to Topics", topics_path, class: "btn btn-primary"  %>
  <%= link_to "Join Debate", participants_path(topic_id: @topic.id), method: :post, class: "btn btn-primary"  %>
  </div>
</div>
