<div class="quarter-circle-top-left">
  <%= render "shared/topic-icon" %>
  <%= link_to "", topics_path, class:"div-link" %>
</div>
<div class="container-topic-show text-center mt-5">
  <div>
    <h1 id="topic-show-title" class="mb-4"><%= @topic.proposition %></h1>
      <div class="rating-section d-flex justify-content-center align-items-center mb-3">
        <%= render "shared/rating" %>
      </div>
      <div id="topic-show-desc" class="text-left w-50 mb-5">
        <p><%= @topic.description %></p>
      </div>

      <!-- Moderator Info -->
     <!--  <div id="topic-show-desc" class="w-50 mb-5">
        <#% if @topic.user == nil? %>
          <h3>No available debate rooms</h3>
        <#% elsif @topic.user %>
        <div class="moderator-info">
          <h3 class="py-2 ">Moderator Information</h3>
          <%#= cl_image_tag @topic.user.photo, size: "70x70", class: "rounded-circle" %>
          <p class="py-2"> <%#= @topic.user.username %> </p>
        </div>

        <#% else %>
          <h3>No available debates :(</h3>
        <#% end %>
      </div>
  </div> -->

  <div class="form">
    <%= render "arguments/argument_forms" %>
    <div class="d-flex justify-content-around">
      <%= link_to "Back to Topics", topics_path, class: "btn-new"  %>
      <% if current_user.debates.active.none? %>
        <%= link_to "Join as Debator", topic_participants_path(@topic, debator: true), method: :post, class: "btn-new"  %>
        <%= link_to "Join as Moderator", topic_participants_path(@topic, moderator: true), method: :post, class: "btn-new"  %>
      <% else %>
        <%= link_to "YOU ARE IN A DEBATE!! GO BACK", debate_path(current_user.debates.active.first), class: "btn-new"  %>
      <% end %>
    </div>
  </div>
</div>
