<div class="quarter-circle-top-left">
  <%= render "shared/topic-icon"%>
  <%= link_to '', topics_path, class:"div-link" %>
</div>
<div class="container-topic-show text-center mt-5">
  <div>
    <h1 id="topic-show-title" class="mb-5"><%= @topic.proposition %></h1>
      <div class="rating-section d-flex justify-content-center align-items-center mb-5">
        <%= render "shared/rating" %>
      </div>
      <div id="topic-show-desc" class="w-100 mb-5">
        <p><%= @topic.description %></p>
      </div>
  </div>
  <div class="form">
    <%= render "arguments/argument_forms" %>
    <%= link_to "Back to Topics", topics_path, class: "btn btn-primary"  %>
    <% if @topic.debates.waiting_start.any? %>
      <%= link_to "Debate This Topic", debate_participants_path(@topic.debates.waiting_start.first), method: :post, class: "btn btn-primary"  %>
    <% end %>
    <%= link_to "Moderate This Topic", topic_debates_path(@topic), method: :post, class: "btn btn-primary"  %>
  </div>
</div>
