<div class="container-dash justify-content-between" >
  <div class="user-sidebar justify-content-around">
   <div class="actions-controller ">
    <div class="sidebar">
      <div class="username text-capitalize">
        <h3><%= current_user.username %>'s Dashboard</h3>
      </div>
      <div class="actions">
        <ul>
          <% if current_user.photo.filename %>
          <li><%= cl_image_tag current_user.photo.url(:user_photo_main), class: "dashboard-image"%> </li>
          <% else %>
          <%= image_tag "default", class: "dashboard-image" %>
          <% end %>
          <!-- <li> Wins: <i class="fas fa-trophy"></i> <%=  @user.wins %> </li>
          <li> Losses: <i class="fas fa-skull"></i> <%=  @user.losses %> </li> -->
        <hr>
        <% if  %>
          <% current_user.user_rank  == "Bronze"%>
          <h3><%= current_user.user_rank %> rank - <i class="fas fa-medal medal-bronze" style="color: #CD7F32"></i></h3>
        <% elsif  %>
          <% current_user.user_rank  == "Silver"%>
          <h3><%= current_user.user_rank %> rank - <i class="fas fa-medal medal-silver" style="color: #D5D5D5"></i></h3>
        <% elsif  %>
          <% current_user.user_rank  == "Gold"%>
          <h3><%= current_user.user_rank %> rank - <i class="fas fa-medal medal-gold" style="color: #FAD701"></i></h3>
        <% elsif  %>
          <% current_user.user_rank  == "Diamond"%>
          <h3><%= current_user.user_rank %> rank - <i class="fas fa-medal medal-diamond" style="color: #8EBEE5"></i></h3>
        <% elsif  %>
          <% current_user.user_rank  == "Platinum"%>
          <h3><%= current_user.user_rank %> rank - <i class="fas fa-medal medal-platinum" style="color: #E5E4E2"></i></h3>
        <% elsif  %>
          <% current_user.user_rank  == "Master"%>
          <h3><%= current_user.user_rank %> rank - <i class="fas fa-medal medal-master" style="color: #F7132A"></i></h3>
        <% elsif  %>
          <% current_user.user_rank  == "Grand Master"%>
          <h3><%= current_user.user_rank %> rank - <i class="fas fa-medal medal-grand-master" style="color: #7824CC"></i></h3>
        <% end %>
        <div class="d-flex justify-content-around pt-4">
          <p id="wins-text"><%= current_user.wins %> wins</p>
          <p id="losses-text"><%= current_user.losses %> losses</p>
        </div>
        <div class="pt-4">
        <%= render "users/dashboard_rating" %>
        </div>
        </ul>
      </div>
    </div>
        <div class="col-size">
          <div class="dashboard-header"><h5>Play</h5></div>
            <div class="open-debates  pt-4">
              <% @topics.each do  |topic| %>
                <%= render 'topics/topic_card_dashboard', topic: topic  %>
              <% end %>
            </div>
        </div>
        <div class="col-size">
          <div class="dashboard-header"><h5>Moderate</h5></div>
            <div class="open-debates  pt-4">
              <% @topics.reverse.each do  |topic| %>
                <%= render 'topics/topic_card_dashboard', topic: topic %>
              <% end %>
            </div>
        </div>
        <div class="col-size">
          <div class="dashboard-header"><h5>Create</h5></div>
            <div class="open-debates  pt-4">
              <div class="create-topic-card mb-5 text-center">
                <i class="fas fa-plus"></i>
                <h4>Create a new topic</h4>
                <%= link_to "", new_topic_path, class:"div-link" %>
              </div>
                <% current_user.topics.each do |topic| %>
                  <%= render 'topics/topic_card_dashboard', topic: topic %>
                <% end %>
            </div>
        </div>
  </div>
</div>

<iframe src="https://whereby.com/ronpa" class="hidden"></iframe>

