<div class="container-dash justify-content-between" >
  <div class="user-sidebar justify-content-around">
   <div class="actions-controller ">
    <div class="sidebar">
      <div class="username text-capitalize">
        <h3><%= current_user.username %>'s Dashboard</h3>
      </div>
      <div class="actions">
        <ul>
          <% if current_user.photo.filename %>
          <li><%= cl_image_tag current_user.photo.url(:user_photo_main), class: "dashboard-image"%> </li>
          <% else %>
          <%= image_tag "default", class: "dashboard-image" %>
          <% end %>
          <li><%= current_user.email %></li>
          <!-- <li> Wins: <i class="fas fa-trophy"></i> <%=  @user.wins %> </li>
          <li> Losses: <i class="fas fa-skull"></i> <%=  @user.losses %> </li> -->
        <hr>
        <h3>Ronp Rating: 123</h3>
        <p><%= current_user.wins %> wins</p>
        <p><%= current_user.losses %> losses</p>
        <p> <%= current_user.user_rank %></p>
        <%= render "users/dashboard_rating" %>
        <h3 class="pt-3">Moderator Information</h3>
        <p>Host Room: <%= current_user.conference_number.to_s %></p>
        <p>Access Code: <%= current_user.access_code.to_s %></p>
        </ul>
      </div>
    </div>
        <div class="col-size">
          <div class="dashboard-header"><h5>Play</h5></div>
            <div class="open-debates border pt-4">
              <% @topics.each do  |topic| %>
                <%= render 'topics/topic_card_dashboard', topic: topic  %>
              <% end %>
            </div>
        </div>
        <div class="col-size">
          <div class="dashboard-header"><h5>Moderate</h5></div>
            <div class="open-debates border pt-4">
              <% @topics.reverse.each do  |topic| %>
                <%= render 'topics/topic_card_dashboard', topic: topic %>
              <% end %>
            </div>
        </div>
        <div class="col-size">
          <div class="dashboard-header"><h5>Create</h5></div>
            <div class="open-debates border pt-4">
              <div class="dashboard-card mb-5 text-center">
                <i class="fas fa-plus"></i>
                <h4>Create a new topic</h4>
                <%= link_to "", new_topic_path, class:"div-link" %>
              </div>
                <% current_user.topics.each do |topic| %>
                  <%= render 'topics/topic_card_dashboard', topic: topic %>
                <% end %>
            </div>
        </div>
  </div>
</div>


