<!-- <div class="container-nav-dashboard ">
  <div class="nav-right text-center ">
    <div class="nav-user-info">
      <h4><%= current_user.first_name%> <%=  current_user.last_name %></h4>
      <ul>
        <li> <%= current_user.photo %></li>
        <li> <%= @user.email %> </li>
        <li> User wins <%=  @user.wins %> </li>
        <li> User losses <%=  @user.losses %> </li>
      </ul>
    </div>
    <div>
      <i class="fas fa-book-open"></i> <%#= link_to "Browse Topics", topics_path %>
    </div>
    <div>
      <%#= link_to "Sign out", destroy_user_session_path, class: "d-block", method: :delete  %>
    </div>
  </div> -->
<div class="d-flex flex-column vh-100" style="background-image: url(<%= image_path "bg2.jpg"; %>);background-size: cover">
  <%= render 'shared/navbar' %>
  <div class="container-dash justify-content-between" >
    <%= render 'shared/dashboard' %>
  </div>
</div>
