<div class="d-flex debate-show">
  <div class="timeline-sidebar">
  <%= render "debates/timeline", debate: debate %>
  </div>

  <div class="container pl-0 pr-0">
    <div id="debate-box">
      <h1 class="text-center topic-proposition-text"><%= debate.topic.proposition%></h1>
      <div class="d-flex justify-content-around">
        <h3 class="role text-center ml-5">Affirmative Position</h3>
        <h4><%= link_to "Join Call", "https://whereby.com/ronpa", target: :_blank, class: "blue-hvr-outline-in"  %></h4>
        <h3 class="role text-center mr-5">Negative Position</h3>
      </div>
      <div class="row justify-content-center">
        <div class="phase">
          <h3 class='phase-text'>
            <%= render "debates/debate_phase", debate: debate %>
          </h3>
          <%= render 'shared/timer' %>
        </div>
      </div>

      <!-- USER INFO -->
      <div class="d-flex justify-content-around pb-4">
        <div id="affirmative-user-info">
          <% if debate.affirmative_user %>
            <%= render 'debates/user_info', user: debate.affirmative_user %>
          <% end %>
        </div>
        <div id="negative-user-info">
          <% if debate.negative_user %>
            <%= render 'debates/user_info', user: debate.negative_user %>
          <% end %>
        </div>
      </div>

      <!-- USER PANES -->
      <div class="d-flex justify-content-around">
        <div>
          <div class="user-pane-affirmative">
            <% if debate.affirmative_user && debate.affirmative_turn? %>
              <%= render 'debates/user_pane_affirmative_active', user: debate.affirmative_user, debate: debate %>
            <% elsif debate.affirmative_user  %>
              <%= render 'debates/user_pane_affirmative_inactive', user: debate.affirmative_user, debate: debate %>
            <% end %>
          </div>
          <div class="button-container">
            <div class="button-negative text-center mt-3">
              <% if debate.affirmative_user && debate.affirmative_turn? %>
                <h4><%= link_to "End Turn", debate_next_phase_path(debate), method: :patch, remote: true, class: "hvr-outline-in"  %></h4>
              <% end %>
            </div>
          </div>
        </div>
        <div>
          <div class="user-pane-negative">
            <% if debate.negative_user && debate.negative_turn? %>
              <%= render 'debates/user_pane_negative_active', user: debate.negative_user, debate: debate %>
             <% elsif debate.negative_user  %>
              <%= render 'debates/user_pane_negative_inactive', user: debate.negative_user, debate: debate %>
            <% end %>
          </div>
          <div class="button-container">
            <div class="button-negative text-center mt-3">
              <% if debate.negative_user && debate.negative_turn? %>
                <h4><%= link_to "End Turn", debate_next_phase_path(debate), method: :patch, remote: true, class: "hvr-outline-in"  %></h4>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <!-- MOD STUFF -->
      <div>
        <% if debate.moderator_user && debate.moderator_turn? %>
           <div class="button-container text-center">
              <%= link_to "End Turn", debate_next_phase_path(debate), method: :patch, remote: true, class: "hvr-outline-in", id: "mod-end-turn-button"  %>
           </div>
        <div class="text-center text-moderator">
          <div class="moderator-icon d-flex">
            <div class="mr-2">
              <%= cl_image_tag debate.participants.moderator.first.user.photo, class:"text-center moderator-image" %>
              <h4><%= debate.moderator_user.username %> is Moderator</h4>
            </div>
          </div>
          <div class="button-container" id="moderator-buttons">
            <%#= simple_form_for :debate, url: debate_next_phase_path(debate), method: :patch, remote: true do |f| %>
                <%#= f.submit "End Turn", class: "hvr-outline-in"   %>
            <%# end %>
            <% if debate.affirmative_user && debate.waiting_end? %>
              <%= link_to "Affirmative Wins", debate_set_result_path(debate, winner_id: debate.participants.affirmative.first), method: :patch, class: "hvr-outline-in", id: "affirmative-win-button"  %>
            <% end %>
            <%# if debate.moderator_turn? %>
            <%# if true %>
              <h4><%#= link_to "End Turn", debate_next_phase_path(debate), method: :patch, remote: true, class: "hvr-outline-in" %></h4>
            <%# end %>
            <% if debate.negative_user && debate.waiting_end? %>
              <%= link_to "Negative Wins", debate_set_result_path(debate, winner_id: debate.participants.negative.first), method: :patch, class: "hvr-outline-in", id: "negative-win-button" %>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
