<div class="d-flex debate-show">
  <div class="timeline-sidebar">
  <%= render "debates/timeline", debate: @debate %>
  </div>

  <div class="container pl-0 pr-0">
    <div id="debate-box">
      <h1 class="text-center topic-proposition-text"><%= debate.topic.proposition%></h1>
      <div class="d-flex justify-content-around">
        <h3 class="role text-center">Affirmative Position</h3>
        <h3 class="role text-center">Negative Position</h3>
      </div>
      <div class="row justify-content-center">
        <div class="phase">
          <h3 class='phase-text'>
            <%= render "debates/debate_phase", debate: debate %>
          </h3>
          <%= render 'shared/timer' %>
        </div>
      </div>

      <!-- USER INFO -->
      <div class="d-flex justify-content-around pb-4">
        <div id="affirmative-user-info">
          <% if debate.affirmative_user %>
            <%= render 'debates/user_info', user: debate.affirmative_user %>
          <% end %>
        </div>
        <div id="negative-user-info">
          <% if debate.negative_user %>
            <%= render 'debates/user_info', user: debate.negative_user %>
          <% end %>
        </div>
      </div>

      <!-- USER PANES -->
      <div class="d-flex justify-content-around">
        <div>
          <div class="user-pane-affirmative">
            <% if debate.affirmative_user %>
              <%= render 'debates/user_pane_affirmative', user: debate.affirmative_user, debate: debate %>
            <% end %>
          </div>
          <% if debate.affirmative_turn? %>
            <div class="button-affirmative text-center mt-4">
              <div class="end-turn-button">
                <h4><%= link_to "End Turn", debate_next_phase_path(debate), method: :patch, remote: true, class: "hvr-outline-in"  %></h4>
              </div>
            </div>
        <% end %>
        </div>
        <div>
          <div class="user-pane-negative">
            <% if debate.negative_user %>
              <%= render 'debates/user_pane_negative', user: debate.negative_user, debate: debate %>
            <% end %>
          </div>
          <% if debate.negative_turn? %>
            <div class="button-negative text-center mt-4">
              <div class="end-turn-button">
                <h4><%= link_to "End Turn", debate_next_phase_path(debate), method: :patch, remote: true, class: "hvr-outline-in"  %></h4>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <!-- MOD STUFF -->
      <div>
        <div class="text-center text-moderator">
          <div>
            <% if debate.participants.moderator.any? %>
              <%= cl_image_tag debate.participants.moderator.first.user.photo, class:"text-center moderator-image" %>
            <% end %>
          </div>
          <% if debate.participants.moderator.any? %>
            <h4><%= debate.participants.moderator.first.user.username %> is Moderator</h>
            <div id="moderator-buttons">
              <%#= simple_form_for :debate, url: debate_next_phase_path(debate), method: :patch, remote: true do |f| %>
                  <%#= f.submit "End Turn", class: "hvr-outline-in"   %>
              <%# end %>

              <%= link_to "End Turn", debate_next_phase_path(debate), method: :patch, remote: true, class: "hvr-outline-in"  %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
