<div class="container pl-0 pr-0">
  <div id="debate-box">
    <h1 class="text-center topic-proposition-text"><%= @debate.topic.proposition%></h1>
    <div class="d-flex justify-content-around">
      <h3 class="role text-center">Affirmative Position</h3>
      <h3 class="role text-center">Negative Position</h3>
    </div>
    <div class="row justify-content-center">
      <div class="phase">
        <h3 class='phase-text'>Waiting for match to start...</h3>
        <%= render 'shared/timer' %>
      </div>
    </div>
    <div class="d-flex justify-content-around pb-4">
      <% if @debate.affirmative_user %>
        <%= render 'user_info', participant: @debate.affirmative_user %>
      <% elsif @debate.negative_user  %>
        <%= render 'user_info', participant: @debate.negative_user %>
      <% end %>
    </div>

    <div class="d-flex justify-content-around">
      <% @debate.participants.each do |participant| %>
          <% if participant.affirmative? %>
            <div>
              <div class="user-pane-left">
                <%= render 'user_pane_left', participant: participant %>
              </div>
              <div class="text-center mt-4">
                <% if participant.user == current_user && @debate.affirmative_turn? %>
                  <%= link_to "End Turn", debate_next_phase_path(@debate), method: :patch, class: "hvr-outline-in"  %>
                <% end %>
              </div>
            </div>
          <% elsif participant.negative? %>
            <div>
              <div class="user-pane-right">
                <%= render 'user_pane_right', participant: participant %>
              </div>
              <div class="text-center mt-4">
                <% if participant.user == current_user && @debate.negative_turn? %>
                  <%= link_to "End Turn", debate_next_phase_path(@debate), method: :patch, class: "hvr-outline-in"  %>
                <% end %>
              </div>
            </div>
          <% end %>
      <% end %>
    </div>

    <div>
      <div class="text-center text-moderator">
        <div>
          <% if @debate.participants.moderator.any? %>
            <%= cl_image_tag @debate.participants.moderator.first.user.photo, class:"text-center moderator-image" %>
          <% end %>
        </div>
        <div id="progress-button">
          <%= link_to "Progress Phase", debate_next_phase_path(@debate), class: "btn-new next-phase",
                method: :patch, remote: true %>
        </div>
        <% if @debate.participants.moderator.any? %>
          <h4><%= @debate.participants.moderator.first.user.username %> is Moderator</h>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% content_for :after_js do %>
  <script>
  console.log('script run')
    App['debate_<%= @debate.id %>'] = App.cable.subscriptions.create(
      { channel: 'DebatesChannel', debate_id: <%= @debate.id %> },
      { received: (data) => {
        console.log(data, data.current_phase)
            const phaseText = document.querySelector('.phase-text');
            const progressButton = document.getElementById('progress-button')
            let event = new Event("newPhaseStarted");
            event.currentPhase = data.current_phase;
            window.dispatchEvent(event);
            switch (data.current_phase) {
              case "waiting_start":
                  phaseText.innerText = "Waiting for match to start...";
              break;
              case "count_in":
                  phaseText.innerText = "Affirmative opening arguments will start in:";
              break;
              case "affirmative_speech":
                  phaseText.innerText = "Affirmative opening arguments";
              break;
              case "negative_cross_examination_preparation":
                  phaseText.innerText = "Negative cross examination preparation";
              break;
              case "negative_cross_examination":
                  phaseText.innerText = "Negative cross examination";
              break;
              case "negative_speech_preparation":
                  phaseText.innerText = "Negative opening argument preparation";
              break;
              case "negative_speech":
                  phaseText.innerText = "Negative opening arguments";
              break;
              case "affirmative_cross_examination_preparation":
                  phaseText.innerText = "Affirmative cross examination preparation";
              break;
              case "affirmative_cross_examination":
                  phaseText.innerText = "Affirmative cross examination";
              break;
              case "affirmative_closing_statement_preparation":
                  phaseText.innerText = "Affirmative closing statement prepatation";
              break;
              case "affirmative_closing_statement":
                  phaseText.innerText = "Affirmative closing statement";
              break;
              case "negative_closing_statement_preparation":
                  phaseText.innerText = "Negative closing statement preparation";
              break;
              case "negative_closing_statement":
                  phaseText.innerText = "Negative closing statement";
              break;
              case "waiting_end":
                  phaseText.innerText = "Moderator giving final score...";
                  progressButton.innerHTML = '<%= link_to "Affirmative Wins", debate_set_result_path(@debate, winner_id: @debate.participants.affirmative.first), method: :patch, class: "btn-new"  %><%= link_to "End Turn", debate_next_phase_path(@debate), class: "btn-new next-phase",
                method: :patch, remote: true %><%= link_to "Negative Wins", debate_set_result_path(@debate, winner_id: @debate.participants.negative.first), method: :patch, class: "btn-new"  %>'
              break;
              case "finished":
                  phaseText.innerText = "The winner is the prosecuter";
                  document.body.innerHTML = '<%= j render partial: 'results'%>'
        }
      }
      }
    );
  </script>
<% end %>
