<div class="container pl-0 pr-0">
  <div id="debate-box">
    <h1 class="text-center topic-proposition-text"><%= @debate.topic.proposition%></h1>
    <div class="d-flex justify-content-around">
      <h3 class="role text-center">Affirmative position</h3>
      <h3 class="role text-center">Negative position</h3>
    </div>
    <%= render 'debate_phase', debate: @debate%>
    <h4 class="text-center text-clock">
      <% if @debate.phase == "waiting_start" %>
        Please wait
      <% else %>
        <%= render 'shared/timer' %></h4>
      <% end %>
    </h4>
    <div class="d-flex justify-content-around pb-4">
      <%= render 'user_info', participant: @debate.participants.affirmative.first%>
      <%= render 'user_info', participant: @debate.participants.negative.first%>
    </div>
    <div class="d-flex justify-content-around">
      <% @debate.participants.each do |participant| %>
          <% if participant.affirmative? %>
            <div class="user-pane-left">
              <%= render 'user_pane_left', participant: participant %>
            </div>
            <%= link_to "Progress Phase", debate_next_phase_path(@debate), class: "btn btn-primary next-phase d-none",
            method: :patch %>
          <% elsif participant.negative? %>
            <div class="user-pane-right">
              <%= render 'user_pane_right', participant: participant %>
            </div>
            <%= link_to "Progress Phase", debate_next_phase_path(@debate), class: "btn btn-primary next-phase d-none",
            method: :patch %>
          <% end %>
      <% end %>
    </div>


    <div>
      <div class="text-center text-moderator">
        <div>
          <%= cl_image_tag @debate.participants.moderator.first.user.photo, class:"text-center moderator-image" %>
        </div>
        <% if @debate.participants.moderator.any? %>
          <h4><%= @debate.participants.moderator.first.user.username %> is Moderator</h4>
          <% if current_user.participants.where(debate_id: @debate).first.moderator? %>
            <%= link_to "Progress Phase", debate_next_phase_path(@debate), class: "btn-new next-phase",
              method: :patch %>
            <% if @debate.waiting_end? %>
              <%= link_to "Affirmative Wins", debate_set_result_path(@debate, winner_id: @debate.participants.affirmative.first), method: :patch, class: "btn-new"  %>
              <%= link_to "Negative Wins", debate_set_result_path(@debate, winner_id: @debate.participants.negative.first), method: :patch, class: "btn-new"  %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag "cardflip" %>
