<div class="container pl-0 pr-0">
  <div id="debate-box">
    <h1 class="text-center topic-proposition-text"><%= @debate.topic.proposition%></h1>
    <div class="d-flex justify-content-around">
      <h3 class="role text-center">Affirmative Position</h3>
      <h3 class="role text-center">Negative Position</h3>
    </div>
    <div class="row justify-content-center">
      <div class="phase-text">
        <%= render 'debate_phase', debate: @debate%>
        <h4 class="text-center text-clock"></h4>
        <%= render 'shared/timer' %>
      </div>
    </div>
    <div class="d-flex justify-content-around pb-4">
      <% if @debate.participants.affirmative.any? %>
        <%= render 'user_info', participant: @debate.participants.affirmative.first%>
      <% elsif @debate.participants.negative.any?  %>
        <%= render 'user_info', participant: @debate.participants.negative.first%>
      <% end %>
    </div>
    <div class="d-flex justify-content-around">
      <% @debate.participants.each do |participant| %>
          <% if participant.affirmative? %>
            <div class="user-pane-left">
              <%= render 'user_pane_left', participant: participant %>
            </div>
            <div class="text-center mt-4">
              <% if participant.user == current_user && @debate.affirmative_turn? %>
                <%= link_to "End Turn", debate_next_phase_path(@debate), method: :patch, class: "hvr-outline-in"  %>
              <% end %>
            </div>
          <% elsif participant.negative? %>
            <div class="user-pane-right">
              <%= render 'user_pane_right', participant: participant %>
            </div>
            <div class="text-center mt-4">
              <% if participant.user == current_user && @debate.negative_turn? %>
                <%= link_to "End Turn", debate_next_phase_path(@debate), method: :patch, class: "hvr-outline-in"  %>
              <% end %>
            </div>
          <% end %>
      <% end %>
    </div>
    <div>
      <div class="text-center text-moderator">
        <div>
          <% if @debate.participants.moderator.any? %>
            <%= cl_image_tag @debate.participants.moderator.first.user.photo, class:"text-center moderator-image" %>
          <% end %>
        </div>
        <div id="progress-button">
          <%= link_to "End Turn", debate_next_phase_path(@debate), class: "btn-new next-phase",
                method: :patch, remote: true %>
        </div>
        <% if @debate.participants.moderator.any? %>
          <h4><%= @debate.participants.moderator.first.user.username %> is Moderator</h>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% content_for :after_js do %>
  <script>
  console.log('script run')
    App['debate_<%= @debate.id %>'] = App.cable.subscriptions.create(
      { channel: 'DebatesChannel', debate_id: <%= @debate.id %> },
      { received: (data) => {
        console.log(data, data.current_phase)
            const phaseText = document.querySelector('.phase-text');
            const progressButton = document.getElementById('progress-button')
            switch (data.current_phase) {
              case "waiting_start":
                  phaseText.innerHTML = "<h3>Waiting for match to start...</h3>";
              break;
              case "count_in":
                  phaseText.innerHTML = "<h3>Affirmative opening arguments will start in:</h3>";
              break;
              case "affirmative_speech":
                  phaseText.innerHTML = "<h3>Affirmative opening arguments</h3>";
              break;
              case "negative_cross_examination_preparation":
                  phaseText.innerHTML = "<h3>Negative cross examination preparation</h3>";
              break;
              case "negative_cross_examination":
                  phaseText.innerHTML = "<h3>Negative cross examination</h3>";
              break;
              case "negative_speech_preparation":
                  phaseText.innerHTML = "<h3>Negative opening argument preparation</h3>";
              break;
              case "negative_speech":
                  phaseText.innerHTML = "<h3>Negative opening arguments</h3>";
              break;
              case "affirmative_cross_examination_preparation":
                  phaseText.innerHTML = "<h3>Affirmative cross examination preparation</h3>";
              break;
              case "affirmative_cross_examination":
                  phaseText.innerHTML = "<h3>Affirmative cross examination</h3>";
              break;
              case "affirmative_closing_statement_preparation":
                  phaseText.innerHTML = "<h3>Affirmative closing statement prepatation</h3>";
              break;
              case "affirmative_closing_statement":
                  phaseText.innerHTML = "<h3>Affirmative closing statement</h3>";
              break;
              case "negative_closing_statement_preparation":
                  phaseText.innerHTML = "<h3>Negative closing statement preparation</h3>";
              break;
              case "negative_closing_statement":
                  phaseText.innerHTML = "<h3>Negative closing statement</h3>";
              break;
              case "waiting_end":
                  phaseText.innerHTML = "<h3>Moderator giving final score...</h3>";
                  progressButton.innerHTML = '<%= link_to "Affirmative Wins", debate_set_result_path(@debate, winner_id: @debate.participants.affirmative.first), method: :patch, class: "btn-new"  %><%= link_to "End Turn", debate_next_phase_path(@debate), class: "btn-new next-phase",
                method: :patch, remote: true %><%= link_to "Negative Wins", debate_set_result_path(@debate, winner_id: @debate.participants.negative.first), method: :patch, class: "btn-new"  %>'
              break;
              case "finished":
                  phaseText.innerHTML = "<h3>The winner is the prosecuter</h3>";
                  document.body.innerHTML = '<%= j render partial: 'results'%>'
        }
      }
      }
    );
  </script>
<% end %>
